<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container"> 
    <div id="nav" class="sixteen columns">
      <ul>
        <li><%= link_to "Blocipedia", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Wikis", wikis_path %></li>
           <% if current_user %>
             Hello <%= link_to (current_user.name || current_user.email), edit_user_registration_path %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
           <% else %>
             <%= link_to "Sign In", new_user_session_path %>
           <% end %>
      </ul>
    </div>

      <% if flash[:notice] %>
        <div>
          <button>&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div>
          <button>&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div>
          <button>&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= yield %>
  </div>
</body>
</html>
